body {
  background-color: #e5e5e5;
}
:root {
  --hover-focus-color: tomato;
}
.page-header {
  background-color: white;
}
.conteiner-header {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
}
.conteiner-contacts {
}
.logo {
  position: absolute;
  width: 153px;
  height: 31px;
  left: 215px;
  top: 24px;
  width: 153px;
  height: 31px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-blue {
  color: blue;
}
.logo-black {
  color: black;
}
.logo:hover,
.logo:focus {
  color: var(--hover-focus-color);
}
/* site-nav */
.site-nav a {
  color: #2196f3;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--hover-focus-color);
}
.site-nav {
 }
.studio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* contact-nav-envelope&telephone */

.contact-nav-envelope a {
  color: #2196f3;
}
.contact-nav-envelope a:hover,
.contact-nav-envelope a:focus {
  color: var(--hover-focus-color);
}
.contact-nav-envelope {
  position: absolute;
  width: 161px;
  height: 16px;
  left: 1052px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.contact-nav-telephone a {
  color: #757575;
}
.contact-nav-telephone a:hover,
.contact-nav-telephone a:focus {
  color: var(--hover-focus-color);
}
.contact-nav-telephone {
  position: absolute;
  width: 142px;
  height: 16px;
  left: 1243px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
/* hero */
.hero {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
}
.to-order-service {
  position: absolute;
  width: 136px;
  height: 30px;
  left: 732px;
  top: 440px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.to-order-service a:hover,
.to-order-service a:focus {
  color: var(--hover-focus-color);
}
.qualities {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.qualities2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-our-work {
  background-color: #f5f4fa;
}
.our-work {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-work2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.our-names {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ПОРТФОЛИО */
.bottom:hover,
.bottom:focus {
  color: var(--hover-focus-color);
}
.bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}
.my-project:hover,
.my-project:focus {
  color: var(--hover-focus-color);
}
.my-project {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.my-project-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* FOOTER */
.footer {
  background-color: #2f303a;
}
.adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.join {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.e-mail:hover,
.e-mail:focus {
  color: var(--hover-focus-color);
}
.e-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe:hover,
.subscribe:focus {
  color: var(--hover-focus-color);
}
.subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.goit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}
